<table *ngIf="users && users.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Data di Nascita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.nome }}</td>
        <td>{{ user.cognome }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dataDiNascita | date }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!users || users.length === 0">
    <p>Nessun utente trovato.</p>
  </div>
  